/* Please Make only Rhino and Zebra Blue */
/* .top {
  color: blue;
} */

#zebra,
#rhino {
  color: blue;
}

/* Please Make only Hufflepuff Gold */
/* .badger {
  color: gold;
} */
#bestHouse {
  color: gold;
}

/* Please select Duck with the highest level of specificity possible */
/* html body article .areDucksDinosaurs h2.likesToQuack.fight1Or100 {
  color: lime;
} */

html > body > h1#hi + section.top + section.middle + article.areDucksDinosaurs > h2.likesToQuack.fight1Or100 {
  color: lime !important;
}

/* Please select Rhino with the highest level of specificity possible */
body section .top #rhino .frica .fourLegs {
  color: lime;
}